.badge {
    width: fit-content;
    border-radius: 9999px;
    background-color: var(--badge-bg-color);
    border: 1px solid var(--badge-border-color);

    padding: 1px 8px;
}

.badge-content {
    color: var(--badge-text-color);
    user-select: none;
}
