.divider {
    &[data-orientation="vertical"] {
        height: 100%;
        border-left: 1px var(--divider-variant) var(--color-primary);
    }

    &[data-orientation="horizontal"] {
        width: 100%;
        border-top: 1px var(--divider-variant) var(--color-primary);
    }
}
