.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2.5px);
    background-color: #1111115d;

    &:is([open], [data-open], [data-state="open"]) {
        animation: fade-in 0.2s ease-out;
    }

    &:is([closed], [data-closed], [data-state="closed"]) {
        animation: fade-out 0.2s ease-out;
    }
}

.positioner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    &:is([open], [data-open], [data-state="open"]) {
        animation: fade-in 0.2s ease-out;
    }

    &:is([closed], [data-closed], [data-state="closed"]) {
        animation: fade-out 0.2s ease-out;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
