.root {
    position: absolute;
    z-index: 9999;
    inset: 0px auto auto 0px;
    margin: 0;

    &.enter {
        opacity: 0;
    }

    &.enter-active {
        opacity: 1;
        transition: all 200ms ease-in-out;
    }

    &.exit {
        opacity: 1;
    }

    &.exit-active {
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
}
