.left-section,
.right-section {
    flex: 1;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.title {
    max-width: 25rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.features-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.features {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
}

.avatar {
    padding: 5px;
    cursor: pointer;
}
