.dropdown {
    background-color: var(--bg-color);
    min-width: 200px;
    max-height: 15rem;
    border-radius: 12px;

    padding: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border: 1px dashed var(--color-primary);

    display: flex;
    flex-direction: column;
}

.option {
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    display: block;

    &:hover {
        background-color: light-dark(#0000000d, #ffffff0d);
    }
}

.value {
    width: 100%;
}
