.root {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav {
    gap: 15px;
    color: light-dark(var(--color-primary), #ffffff);
}

.icon {
    width: 64px;
    height: 64px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}
