.root {
    position: sticky;
    height: calc(100vh - 64px);
    min-width: 15rem;

    top: 64px;
    left: 0;

    padding: 2rem 0;
}

.title {
    font-weight: 600;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.link {
    width: 100%;
}
